<div id="enquiry-form" class="form enquiry-form"> <!-- Should be option to add this form to a bootstrap modal popup -->
    <!-- Hidden input fields -->
    <input name="" id="startDates" value="" type="hidden">
    <input value="" id="iscFormConfig" type="hidden">
    <input id="SC_Visit_Id" name="SC_Visit_Id" value="" type="hidden">
    <input id="SC_Visitor_Id" name="SC_Visitor_Id" value="" type="hidden">
        
    <div id="form-container">
        <div id="error-container" class="ui-state-error" style="display: none">
            <span class="fl ui-icon ui-icon-alert"></span>
            <span id="errorText"></span>
        </div>
            
        <div class="form-summary">
            Form summary text form summary text form summary text form summary text form summary text form summary text
        </div>

        <div style="" id="form-loading">
            <div style="" id="overlay-text">
                <p>Loading Enquiry Form</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active"></div>
                </div>
            </div>
        </div>

        <fieldset id="iscFields" class="form-horizontal">

            <div id="notificationArea">
                <!-- This div only displays if form is submitted without all required fields completed -->
                <div class="alert alert-error" style="">
                    You have not filled in all required fields
                </div>
            </div>

            <div class="form-group genericFormField">
                <div class="col-md-4">
                    <label class="control-label" for="centreId">
                        Which Study Centre are you interested in?
                    </label>
                </div>
                <div class="col-md-8">
                    <select class="form-control" id="centreId" data-bind="field: Model.CentreId, options: isc.Centres, optionsValue: 'value', optionsText: 'name', optionsCaption: sg.strings.pleaseSelectCaption">
                    </select>
                </div>
            </div>

            <div class="form-group landingPageFormField">
                <div class="col-md-4">
                    <label class="control-label" for="preferredCourse">
                        Preferred Course
                    </label>
                </div>
                <div class="col-md-8">
                    <select class="form-control" id="preferredCourse" name="preferredCourse" data-bind="field: Model.PreferredCourse, options: ViewBag.Programmes, optionsText: 'Name', optionsValue: 'Id', optionsCaption: sg.strings.pleaseSelectCaption">
                        <option value="">-- Please Select --</option>
                        <option value="607">Foundation: Business, Management and Economics</option>
                        <option value="1485">Foundation: Computing </option>
                        <option value="1486">Foundation: Engineering and Mathematics</option>
                        <option value="2657">Foundation: Law, International Relations and Sociology</option>
                        <option value="609">Foundation: Life Sciences and Psychology</option>
                        <option value="610">Foundation: Media and Communications</option>
                        <option value="2458">International Year 1 Business and Management</option>
                        <option value="2459">International Year 1 Computing</option>
                        <option value="4936">International Year 1 Electrical and Electronic Engineering</option>
                        <option value="6734">International Year 1 Finance and Accounting</option>
                        <option value="2847">International Year 1 International Relations and International Development</option>
                        <option value="2848">International Year 1 Media and Film Studies</option>
                        <option value="1683">Pre-Masters : Computing</option>
                        <option value="2801">Pre-Masters : International Relations and International Development</option>
                        <option value="2849">Pre-Masters : Law</option>
                        <option value="2658">Pre-Masters : Management and Finance</option>
                        <option value="2463">Pre-Masters : Media, Journalism and Film</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <label for="nameFamily" class="control-label">
                        Family name 
                    <sup class="required">&nbsp;*</sup></label>
                </div>
                <div class="col-md-8">
                    <input data-sg-unique-elem-seq="1" maxlength="50" id="nameFamily" name="nameFamily" data-bind="field: Model.FamilyName" class="form-control required" type="text">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label" for="nameGiven">
                        Given names
                    <sup class="required">&nbsp;*</sup></label>
                </div>
                <div class="col-md-8">
                    <input data-sg-unique-elem-seq="2" maxlength="50" id="nameGiven" name="nameGiven" data-bind="field: Model.GivenNames" class="form-control required" type="text">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label" for="studentEmail">
                        Email
                    <sup class="required">&nbsp;*</sup></label>
                </div>
                <div class="col-md-8">
                    <input data-sg-unique-elem-seq="3" maxlength="100" id="studentEmail" name="studentEmail" data-bind="field: Model.Email" class="form-control required" type="email">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label" for="telephonePrimary">
                        1<sup>st</sup> contact telephone/mobile
                    <sup class="required">&nbsp;*</sup></label>
                </div>
                <div class="col-md-8">
                    <input data-sg-unique-elem-seq="4" maxlength="30" id="telephonePrimary" name="telephonePrimary" data-bind="field: Model.Telephone" class="form-control required" type="tel">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label" for="telephoneSecondary">
                        2<sup>nd</sup> contact telephone/mobile
                    </label>
                </div>
                <div class="col-md-8">
                    <input maxlength="30" id="telephoneSecondary" name="telephoneSecondary" data-bind="field: Model.Telephone2" class="form-control" type="tel">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label" for="contactPreference">
                        Contact me by
                    </label>
                </div>
                <div class="col-md-8">
                    <div class="radio">
                        <label class="radio">
                          <input data-sg-unique-elem-seq="5" maxlength="50" class="required" id="contactPreferenceEmail" name="contactPreference" data-bind="field: Model.ContactPreference" value="email" type="radio">
                          Email
                        </label>
                        <label class="radio">
                          <input data-sg-unique-elem-seq="6" maxlength="50" class="required" id="contactPreferencePhone" name="contactPreference" data-bind="field: Model.ContactPreference" value="telephone" type="radio">
                          Telephone
                        </label>                    
                    </div>                    
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label" for="birthDate">
                        Date of birth
                    <sup class="required">&nbsp;*</sup></label>
                </div>
                <div class="col-md-8">
                    <div class="controls">
                        <div class="input-group small">
                            <input id="date_picker" type="text" class="date-picker form-control" />
                            <label for="date_picker" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label" for="nationality">
                        Nationality
                    <sup class="required">&nbsp;*</sup></label>
                </div>
                <div class="col-md-8">
                    <select data-sg-unique-elem-seq="8" class="form-control required" id="nationality" name="nationality" data-bind="field: Model.NationalityId, options: ViewBag.Countries, optionsText: 'Name', optionsValue: 'Id', optionsCaption: sg.strings.pleaseSelectCaption">
                            <option value="">-- Please Select --</option>
                            <option value="1">Afghanistan</option>
                            <option value="2">Albania</option>
                            <option value="3">Algeria</option>
                            <option value="4">American Samoa</option>
                            <option value="5">Andorra</option>
                            <option value="6">Angola</option>
                            <option value="7">Anguilla</option>
                            <option value="8">Antarctica</option>
                            <option value="9">Antigua &amp; Barbuda</option>
                            <option value="10">Argentina</option>
                            <option value="11">Armenia</option>
                            <option value="12">Aruba</option>
                            <option value="13">Australia</option>
                            <option value="14">Austria</option>
                            <option value="15">Azerbaijan</option>
                            <option value="16">Bahamas</option>
                            <option value="17">Bahrain</option>
                            <option value="18">Bangladesh</option>
                            <option value="19">Barbados</option>
                            <option value="20">Belarus</option>
                            <option value="21">Belgium</option>
                            <option value="22">Belize</option>
                            <option value="23">Benin</option>
                            <option value="24">Bermuda</option>
                            <option value="25">Bhutan</option>
                            <option value="26">Bolivia</option>
                            <option value="27">Bosnia &amp; Herzegovina</option>
                            <option value="28">Botswana</option>
                            <option value="29">Brazil</option>
                            <option value="30">British Indian Ocean Terr</option>
                            <option value="31">British Virgin Islands</option>
                            <option value="32">Brunei</option>
                            <option value="33">Bulgaria</option>
                            <option value="34">Burkina</option>
                            <option value="35">Burundi</option>
                            <option value="36">Cambodia</option>
                            <option value="37">Cameroon</option>
                            <option value="38">Canada</option>
                            <option value="39">Cape Verde</option>
                            <option value="40">Cayman Islands</option>
                            <option value="41">Central African Republic</option>
                            <option value="42">Chad</option>
                            <option value="43">Chile</option>
                            <option value="44">China PRC</option>
                            <option value="45">Christmas Island</option>
                            <option value="46">Cocos (Keeling) Islands</option>
                            <option value="47">Colombia</option>
                            <option value="48">Comoros</option>
                            <option value="51">Cook Islands</option>
                            <option value="52">Costa Rica</option>
                            <option value="53">Croatia</option>
                            <option value="54">Cuba</option>
                            <option value="55">Cyprus</option>
                            <option value="56">Czech Republic</option>
                            <option value="50">Democratic Republic of the Congo</option>
                            <option value="57">Denmark</option>
                            <option value="58">Djibouti</option>
                            <option value="59">Dominica</option>
                            <option value="60">Dominican Republic</option>
                            <option value="242">East Timor</option>
                            <option value="61">Ecuador</option>
                            <option value="62">Egypt</option>
                            <option value="63">El Salvador</option>
                            <option value="64">Equatorial Guinea</option>
                            <option value="65">Eritrea</option>
                            <option value="66">Estonia</option>
                            <option value="67">Ethiopia</option>
                            <option value="69">Falkland Islands</option>
                            <option value="68">Faroe Islands</option>
                            <option value="70">Fiji</option>
                            <option value="71">Finland</option>
                            <option value="72">France</option>
                            <option value="73">French Guiana</option>
                            <option value="74">French Polynesia</option>
                            <option value="75">Gabon</option>
                            <option value="76">Gambia</option>
                            <option value="77">Georgia</option>
                            <option value="78">Germany</option>
                            <option value="79">Ghana</option>
                            <option value="80">Gibraltar</option>
                            <option value="81">Greece</option>
                            <option value="82">Greenland</option>
                            <option value="83">Grenada</option>
                            <option value="84">Guadeloupe</option>
                            <option value="85">Guam</option>
                            <option value="86">Guatemala</option>
                            <option value="87">Guernsey</option>
                            <option value="88">Guinea</option>
                            <option value="89">Guinea-Bissau</option>
                            <option value="90">Guyana</option>
                            <option value="91">Haiti</option>
                            <option value="92">Heard &amp; Mcdonald Is</option>
                            <option value="93">Honduras</option>
                            <option value="240">Hong Kong SAR</option>
                            <option value="94">Hungary</option>
                            <option value="95">Iceland</option>
                            <option value="96">India</option>
                            <option value="97">Indonesia</option>
                            <option value="98">Iran</option>
                            <option value="99">Iraq</option>
                            <option value="100">Ireland</option>
                            <option value="101">Isle of Man</option>
                            <option value="102">Israel</option>
                            <option value="103">Italy</option>
                            <option value="104">Ivory Coast</option>
                            <option value="105">Jamaica</option>
                            <option value="106">Japan</option>
                            <option value="107">Jersey</option>
                            <option value="109">Jordan</option>
                            <option value="110">Kazakhstan</option>
                            <option value="111">Kenya</option>
                            <option value="112">Kiribati</option>
                            <option value="241">Kosovo</option>
                            <option value="113">Kuwait</option>
                            <option value="114">Kyrgyzstan</option>
                            <option value="115">Laos</option>
                            <option value="116">Latvia</option>
                            <option value="117">Lebanon</option>
                            <option value="118">Lesotho</option>
                            <option value="119">Liberia</option>
                            <option value="120">Libya</option>
                            <option value="121">Liechtenstein</option>
                            <option value="122">Lithuania</option>
                            <option value="123">Luxembourg</option>
                            <option value="124">Macau</option>
                            <option value="125">Macedonia</option>
                            <option value="126">Madagascar</option>
                            <option value="127">Malawi</option>
                            <option value="128">Malaysia</option>
                            <option value="129">Maldives</option>
                            <option value="130">Mali</option>
                            <option value="131">Malta</option>
                            <option value="132">Marshall Islands</option>
                            <option value="133">Martinique</option>
                            <option value="134">Mauritania</option>
                            <option value="135">Mauritius</option>
                            <option value="136">Mayotte</option>
                            <option value="137">Mexico</option>
                            <option value="138">Micronesia</option>
                            <option value="140">Moldova</option>
                            <option value="141">Monaco</option>
                            <option value="142">Mongolia</option>
                            <option value="243">Montenegro</option>
                            <option value="143">Montserrat</option>
                            <option value="144">Morocco</option>
                            <option value="145">Mozambique</option>
                            <option value="146">Myanmar (Burma)</option>
                            <option value="147">Namibia</option>
                            <option value="148">Nauru</option>
                            <option value="149">Nepal</option>
                            <option value="150">Netherlands</option>
                            <option value="151">Netherlands Antilles</option>
                            <option value="152">New Caledonia</option>
                            <option value="153">New Zealand</option>
                            <option value="154">Nicaragua</option>
                            <option value="155">Niger</option>
                            <option value="156">Nigeria</option>
                            <option value="157">Niue</option>
                            <option value="158">Norfolk Island</option>
                            <option value="159">North Korea</option>
                            <option value="160">Northern Mariana Islands</option>
                            <option value="161">Norway</option>
                            <option value="162">Oman</option>
                            <option value="163">Pakistan</option>
                            <option value="164">Palau</option>
                            <option value="165">Panama</option>
                            <option value="166">Papua New Guinea</option>
                            <option value="167">Paraguay</option>
                            <option value="168">Peru</option>
                            <option value="169">Philippines</option>
                            <option value="170">Pitcairn Island</option>
                            <option value="171">Poland</option>
                            <option value="172">Portugal</option>
                            <option value="173">Puerto Rico</option>
                            <option value="174">Qatar</option>
                            <option value="49">Republic of the Congo</option>
                            <option value="175">Reunion</option>
                            <option value="176">Romania</option>
                            <option value="177">Russian Federation</option>
                            <option value="178">Rwanda</option>
                            <option value="179">Samoa</option>
                            <option value="180">San Marino</option>
                            <option value="181">Sao Tome &amp; Principe</option>
                            <option value="182">Saudi Arabia</option>
                            <option value="183">Senegal</option>
                            <option value="237">Serbia</option>
                            <option value="184">Seychelles</option>
                            <option value="185">Sierra Leone</option>
                            <option value="186">Singapore</option>
                            <option value="187">Slovakia</option>
                            <option value="188">Slovenia</option>
                            <option value="189">Solomon Islands</option>
                            <option value="190">Somalia</option>
                            <option value="191">South Africa</option>
                            <option value="192">South Korea</option>
                            <option value="245">South Sudan</option>
                            <option value="193">Spain</option>
                            <option value="195">Sri Lanka</option>
                            <option value="196">St. Helena</option>
                            <option value="197">St. Kitts &amp; Nevis</option>
                            <option value="198">St. Lucia</option>
                            <option value="199">St. Pierre &amp; Miquelon</option>
                            <option value="200">St. Vincent &amp; Grenadines</option>
                            <option value="201">Sudan</option>
                            <option value="202">Suriname</option>
                            <option value="203">Svalbard</option>
                            <option value="204">Swaziland</option>
                            <option value="205">Sweden</option>
                            <option value="206">Switzerland</option>
                            <option value="207">Syria</option>
                            <option value="208">Taiwan ROC</option>
                            <option value="209">Tajikistan</option>
                            <option value="210">Tanzania</option>
                            <option value="211">Thailand</option>
                            <option value="212">Togo</option>
                            <option value="213">Tokelau</option>
                            <option value="214">Tonga</option>
                            <option value="215">Trinidad &amp; Tobago</option>
                            <option value="216">Tunisia</option>
                            <option value="217">Turkey</option>
                            <option value="218">Turkmenistan</option>
                            <option value="219">Turks &amp; Caicos Islands</option>
                            <option value="220">Tuvalu</option>
                            <option value="221">Uganda</option>
                            <option value="222">Ukraine</option>
                            <option value="223">United Arab Emirates</option>
                            <option value="224">United Kingdom</option>
                            <option value="225">United States</option>
                            <option value="226">Uruguay</option>
                            <option value="227">Uzbekistan</option>
                            <option value="228">Vanuatu</option>
                            <option value="229">Vatican City</option>
                            <option value="230">Venezuela</option>
                            <option value="231">Vietnam</option>
                        <option value="232">Virgin Islands (US)</option>
                        <option value="234">Wallis &amp; Futuna</option>
                        <option value="235">West Bank &amp; Gaza</option>
                        <option value="236">Yemen</option><option value="238">Zambia</option>
                        <option value="239">Zimbabwe</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label" for="addressCountry">
                        Where do you currently live?
                        <sup class="required">&nbsp;*</sup>
                    </label>
                </div>
                <div class="col-md-8">
                    <select data-sg-unique-elem-seq="9" class="form-control required" id="addressCountry" name="addressCountry" data-bind="field: Model.AddressCountryId, options: ViewBag.Countries, optionsText: 'Name', optionsValue: 'Id', optionsCaption: sg.strings.pleaseSelectCaption">
                            <option value="">-- Please Select --</option>
                            <option value="1">Afghanistan</option>
                            <option value="2">Albania</option>
                            <option value="3">Algeria</option>
                            <option value="4">American Samoa</option>
                            <option value="5">Andorra</option>
                            <option value="6">Angola</option>
                            <option value="7">Anguilla</option>
                            <option value="8">Antarctica</option>
                            <option value="9">Antigua &amp; Barbuda</option>
                            <option value="10">Argentina</option>
                            <option value="11">Armenia</option>
                            <option value="12">Aruba</option>
                            <option value="13">Australia</option>
                            <option value="14">Austria</option>
                            <option value="15">Azerbaijan</option>
                            <option value="16">Bahamas</option>
                            <option value="17">Bahrain</option>
                            <option value="18">Bangladesh</option>
                            <option value="19">Barbados</option>
                            <option value="20">Belarus</option>
                            <option value="21">Belgium</option>
                            <option value="22">Belize</option>
                            <option value="23">Benin</option>
                            <option value="24">Bermuda</option>
                            <option value="25">Bhutan</option>
                            <option value="26">Bolivia</option>
                            <option value="27">Bosnia &amp; Herzegovina</option>
                            <option value="28">Botswana</option>
                            <option value="29">Brazil</option>
                            <option value="30">British Indian Ocean Terr</option>
                            <option value="31">British Virgin Islands</option>
                            <option value="32">Brunei</option>
                            <option value="33">Bulgaria</option>
                            <option value="34">Burkina</option>
                            <option value="35">Burundi</option>
                            <option value="36">Cambodia</option>
                            <option value="37">Cameroon</option>
                            <option value="38">Canada</option>
                            <option value="39">Cape Verde</option>
                            <option value="40">Cayman Islands</option>
                            <option value="41">Central African Republic</option>
                            <option value="42">Chad</option>
                            <option value="43">Chile</option>
                            <option value="44">China PRC</option>
                            <option value="45">Christmas Island</option>
                            <option value="46">Cocos (Keeling) Islands</option>
                            <option value="47">Colombia</option>
                            <option value="48">Comoros</option>
                            <option value="51">Cook Islands</option>
                            <option value="52">Costa Rica</option>
                            <option value="53">Croatia</option>
                            <option value="54">Cuba</option>
                            <option value="55">Cyprus</option>
                            <option value="56">Czech Republic</option>
                            <option value="50">Democratic Republic of the Congo</option>
                            <option value="57">Denmark</option>
                            <option value="58">Djibouti</option>
                            <option value="59">Dominica</option>
                            <option value="60">Dominican Republic</option>
                            <option value="242">East Timor</option>
                            <option value="61">Ecuador</option>
                            <option value="62">Egypt</option>
                            <option value="63">El Salvador</option>
                            <option value="64">Equatorial Guinea</option>
                            <option value="65">Eritrea</option>
                            <option value="66">Estonia</option>
                            <option value="67">Ethiopia</option>
                            <option value="69">Falkland Islands</option>
                            <option value="68">Faroe Islands</option>
                            <option value="70">Fiji</option>
                            <option value="71">Finland</option>
                            <option value="72">France</option>
                            <option value="73">French Guiana</option>
                            <option value="74">French Polynesia</option>
                            <option value="75">Gabon</option>
                            <option value="76">Gambia</option>
                            <option value="77">Georgia</option>
                            <option value="78">Germany</option>
                            <option value="79">Ghana</option>
                            <option value="80">Gibraltar</option>
                            <option value="81">Greece</option>
                            <option value="82">Greenland</option>
                            <option value="83">Grenada</option>
                            <option value="84">Guadeloupe</option>
                            <option value="85">Guam</option>
                            <option value="86">Guatemala</option>
                            <option value="87">Guernsey</option>
                            <option value="88">Guinea</option>
                            <option value="89">Guinea-Bissau</option>
                            <option value="90">Guyana</option>
                            <option value="91">Haiti</option>
                            <option value="92">Heard &amp; Mcdonald Is</option>
                            <option value="93">Honduras</option>
                            <option value="240">Hong Kong SAR</option>
                            <option value="94">Hungary</option>
                            <option value="95">Iceland</option>
                            <option value="96">India</option>
                            <option value="97">Indonesia</option>
                            <option value="98">Iran</option>
                            <option value="99">Iraq</option>
                            <option value="100">Ireland</option>
                            <option value="101">Isle of Man</option>
                            <option value="102">Israel</option>
                            <option value="103">Italy</option>
                            <option value="104">Ivory Coast</option>
                            <option value="105">Jamaica</option>
                            <option value="106">Japan</option>
                            <option value="107">Jersey</option>
                            <option value="109">Jordan</option>
                            <option value="110">Kazakhstan</option>
                            <option value="111">Kenya</option>
                            <option value="112">Kiribati</option>
                            <option value="241">Kosovo</option>
                            <option value="113">Kuwait</option>
                            <option value="114">Kyrgyzstan</option>
                            <option value="115">Laos</option>
                            <option value="116">Latvia</option>
                            <option value="117">Lebanon</option>
                            <option value="118">Lesotho</option>
                            <option value="119">Liberia</option>
                            <option value="120">Libya</option>
                            <option value="121">Liechtenstein</option>
                            <option value="122">Lithuania</option>
                            <option value="123">Luxembourg</option>
                            <option value="124">Macau</option>
                            <option value="125">Macedonia</option>
                            <option value="126">Madagascar</option>
                            <option value="127">Malawi</option>
                            <option value="128">Malaysia</option>
                            <option value="129">Maldives</option>
                            <option value="130">Mali</option>
                            <option value="131">Malta</option>
                            <option value="132">Marshall Islands</option>
                            <option value="133">Martinique</option>
                            <option value="134">Mauritania</option>
                            <option value="135">Mauritius</option>
                            <option value="136">Mayotte</option>
                            <option value="137">Mexico</option>
                            <option value="138">Micronesia</option>
                            <option value="140">Moldova</option>
                            <option value="141">Monaco</option>
                            <option value="142">Mongolia</option>
                            <option value="243">Montenegro</option>
                            <option value="143">Montserrat</option>
                            <option value="144">Morocco</option>
                            <option value="145">Mozambique</option>
                            <option value="146">Myanmar (Burma)</option>
                            <option value="147">Namibia</option>
                            <option value="148">Nauru</option>
                            <option value="149">Nepal</option>
                            <option value="150">Netherlands</option>
                            <option value="151">Netherlands Antilles</option>
                            <option value="152">New Caledonia</option>
                            <option value="153">New Zealand</option>
                            <option value="154">Nicaragua</option>
                            <option value="155">Niger</option>
                            <option value="156">Nigeria</option>
                            <option value="157">Niue</option>
                            <option value="158">Norfolk Island</option>
                            <option value="159">North Korea</option>
                            <option value="160">Northern Mariana Islands</option>
                            <option value="161">Norway</option>
                            <option value="162">Oman</option>
                            <option value="163">Pakistan</option>
                            <option value="164">Palau</option>
                            <option value="165">Panama</option>
                            <option value="166">Papua New Guinea</option>
                            <option value="167">Paraguay</option>
                            <option value="168">Peru</option>
                            <option value="169">Philippines</option>
                            <option value="170">Pitcairn Island</option>
                            <option value="171">Poland</option>
                            <option value="172">Portugal</option>
                            <option value="173">Puerto Rico</option>
                            <option value="174">Qatar</option>
                            <option value="49">Republic of the Congo</option>
                            <option value="175">Reunion</option>
                            <option value="176">Romania</option>
                            <option value="177">Russian Federation</option>
                            <option value="178">Rwanda</option>
                            <option value="179">Samoa</option>
                            <option value="180">San Marino</option>
                            <option value="181">Sao Tome &amp; Principe</option>
                            <option value="182">Saudi Arabia</option>
                            <option value="183">Senegal</option>
                            <option value="237">Serbia</option>
                            <option value="184">Seychelles</option>
                            <option value="185">Sierra Leone</option>
                            <option value="186">Singapore</option>
                            <option value="187">Slovakia</option>
                            <option value="188">Slovenia</option>
                            <option value="189">Solomon Islands</option>
                            <option value="190">Somalia</option>
                            <option value="191">South Africa</option>
                            <option value="192">South Korea</option>
                            <option value="245">South Sudan</option>
                            <option value="193">Spain</option>
                            <option value="195">Sri Lanka</option>
                            <option value="196">St. Helena</option>
                            <option value="197">St. Kitts &amp; Nevis</option>
                            <option value="198">St. Lucia</option>
                            <option value="199">St. Pierre &amp; Miquelon</option>
                            <option value="200">St. Vincent &amp; Grenadines</option>
                            <option value="201">Sudan</option>
                            <option value="202">Suriname</option>
                            <option value="203">Svalbard</option>
                            <option value="204">Swaziland</option>
                            <option value="205">Sweden</option>
                            <option value="206">Switzerland</option>
                            <option value="207">Syria</option>
                            <option value="208">Taiwan ROC</option>
                            <option value="209">Tajikistan</option>
                            <option value="210">Tanzania</option>
                            <option value="211">Thailand</option>
                            <option value="212">Togo</option>
                            <option value="213">Tokelau</option>
                            <option value="214">Tonga</option>
                            <option value="215">Trinidad &amp; Tobago</option>
                            <option value="216">Tunisia</option>
                            <option value="217">Turkey</option>
                            <option value="218">Turkmenistan</option>
                            <option value="219">Turks &amp; Caicos Islands</option>
                            <option value="220">Tuvalu</option>
                            <option value="221">Uganda</option>
                            <option value="222">Ukraine</option>
                            <option value="223">United Arab Emirates</option>
                            <option value="224">United Kingdom</option>
                            <option value="225">United States</option>
                            <option value="226">Uruguay</option>
                        <option value="227">Uzbekistan</option>
                        <option value="228">Vanuatu</option>
                        <option value="229">Vatican City</option>
                        <option value="230">Venezuela</option>
                        <option value="231">Vietnam</option>
                        <option value="232">Virgin Islands (US)</option>
                        <option value="234">Wallis &amp; Futuna</option>
                        <option value="235">West Bank &amp; Gaza</option>
                        <option value="236">Yemen</option>
                        <option value="238">Zambia</option>
                        <option value="239">Zimbabwe</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label" for="englishLevel">
                        English level
                        <sup class="required">&nbsp;*</sup>
                    </label>
                </div>
                <div class="col-md-8">
                    <select data-sg-unique-elem-seq="10" id="englishLevel" name="englishLevel" data-bind="field: Model.EnglishLevel" class="form-control required">
                        <option value="" data-bind="text: sg.strings.pleaseSelectCaption">-- Please Select --</option>
                        <option value="Beginner">
                            Beginner
                        </option>
                        <option value="Elementary">
                            Elementary
                        </option>
                        <option value="Intermediate">
                            Intermediate
                        </option>
                        <option value="Advanced">
                            Advanced
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group genericFormField">
                <div class="col-md-4">
                    <label class="control-label">
                        What level of study are you interested in?
                    </label>                    
                </div>
                <div class="col-md-8">
                    <div class="radio">
                        <label class="radio">
                          <input maxlength="50" id="UniversityDegreeWantedUG" name="UniversityDegreeWanted" data-bind="field: Model.UniversityDegreeWanted" value="Undergraduate" type="radio">
                          Undergraduate
                        </label>
                        <label class="radio">
                          <input maxlength="50" id="UniversityDegreeWantedPG" name="UniversityDegreeWanted" data-bind="field: Model.UniversityDegreeWanted" value="Postgraduate" type="radio">
                          Postgraduate
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group genericFormField">

                <div class="col-md-4">
                    <label class="control-label" for="subjectInterest">
                        What subject area are you interested in?
                    </label>
                </div>
                <div class="col-md-8">
                    <select maxlength="50" class="form-control" id="subjectInterest" name="subjectInterest" data-bind="options: Model.SubjectInterestOptions , field: Model.SubjectInterest, optionsCaption: sg.strings.pleaseSelectCaption">
                    </select>
                    <p class="text-info">
                        <small>
                            <strong>
                                Please note, we do not offer teaching for the following qualifications: GCSE, A Level, International Baccalaureate, Doctoral Degrees (PHD)
                            </strong>
                        </small>
                    </p>
                </div>
            </div>

             <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label" for="startDate">
                         Preferred Start Date
                    </label>
                </div>
                <div class="col-md-8">
                    <select data-sg-unique-elem-seq="11" id="startdate" class="form-control required" name="startdate" data-bind="field: Model.StudyStartDate, options: ViewBag.StartDates, optionsText: 'Name', optionsValue: 'Value', optionsCaption: sg.strings.pleaseSelectCaption">
                        <option value="">-- Please Select --</option>
                        <option value="01/04/2015">April 2015</option>
                        <option value="01/09/2015">September 2015</option>
                        <option value="01/01/2016">January 2016</option>
                        <option value="don't know">Don't know</option>
                    </select>
                </div>                
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label" for="subscribeNewsOffers">
                        Subscribe
                    </label>
                </div>
                <div class="col-md-8">
                    <div class="checkbox">
                        <label class="checkbox" for="subscribeNewsOffers">
                            <input id="subscribeNewsOffers" name="subscribeNewsOffers" class="checkbox" data-bind="field: Model.Subscribe" type="checkbox">
                            Check this box if you would like to receive periodic special offers and news from us. You can unsubscribe at any time and your e-mail remains confidential.
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label" for="marketingHearAbout">
                        Where did you first hear about the ISC?
                        <span id="iscrlayout_0_sussexv2innerlayout_0_sussexv2middlesectioncontainer_0_sussexv2ninecolumns_0_sussexv2eightcolumns_1_sussexv2maincontent_1_whereDidYouHearAboutUsDropDownLabelOverride"></span>
                    </label>
                </div>
                <div class="col-md-8">
                    <select maxlength="100" class="form-control" id="marketingHearAbout" data-bind="field: Model.WhereDidYouHearAboutUs, options: isc.HowDidYouHearAboutUsOptions,optionsValue: 'value', optionsText: 'name', optionsCaption: sg.strings.pleaseSelectCaption">
                        <option value="">-- Please Select --</option>
                        <option value="Online advert">Online advert</option>
                        <option value="Print Advertising">Print Advertising</option>
                        <option value="E-mail">E-mail</option>
                        <option value="Regional office">Regional office</option>
                        <option value="Educational agent">Educational agent</option>
                        <option value="Fair/Exhibition">Fair/Exhibition</option>
                        <option value="University representative">University representative</option>
                        <option value="University Referral">University Referral</option>
                        <option value="School Referral">School Referral</option>
                        <option value="Retail outlet">Retail outlet</option>
                        <option value="Word of mouth">Word of mouth</option>
                        <option value="University website">University website</option>
                        <option value="Google sponsored link">Google sponsored link</option>
                        <option value="Google search result">Google search result</option>
                        <option value="Yahoo">Yahoo</option>
                        <option value="Baidu">Baidu</option>
                        <option value="Search engine - other">Search engine - other</option>
                        <option value="Facebook">Facebook</option>
                        <option value="Twitter">Twitter</option>
                        <option value="YouTube">YouTube</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>

            <div class="form-group" data-bind="fadeVisible: Model.WhereDidYouHearAboutUs() == 'Other'">
                <div class="col-md-4">
                    <label class="control-label" for="whereDidYouHearAboutUs">
                        Where did you first hear about the ISC?
                        <span id="iscrlayout_0_sussexv2innerlayout_0_sussexv2middlesectioncontainer_0_sussexv2ninecolumns_0_sussexv2eightcolumns_1_sussexv2maincontent_1_whereDidYouHearAboutUsTextBoxLabelOverride"></span>
                    </label>
                </div>
                <div class="col-md-8">
                    <input maxlength="100" id="whereDidYouHearAboutUs" data-bind="field: Model.OtherWhereDidYouHearAboutUs, showErrorsFor: Model.WhereDidYouHearAboutUs" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label" for="questions">
                        Questions or comments
                    </label>
                </div>
                <div class="col-md-8">
                    <textarea maxlength="800" id="questions" name="questions" data-bind="field: Model.Question, valueUpdate: 'afterkeydown'" cols="52" rows="4" class="form-control"></textarea>
                    <p>
                        <small class="char-count">
                            Characters left:
                            <span data-bind="text: 800 - Model.Question().length">800</span> 
                        </small>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                    <button type="submit" class="pull-right" id="btn-submit">
                        Submit
                    </button>
                </div>
            </div>

        </fieldset>
    </div>
</div>