<!-- HERO COMPONENT START -->
<div class="hero" style="background-image: url('http://placehold.it/1600x450');"> <!-- BACKGROUND IMAGE ADDED VIA SITECORE  -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero_content">

    				<h1>Hero content</h1>
    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<div class="button">
					    <a href="#">CTA Button</a>
					</div>

    			</div>
    		</div>
    	</div>
	</div>
</div>
<!-- HERO COMPONENT END -->