<!-- HERO COMPONENT START -->
<div class="hero" style="background-image: url('http://placehold.it/1600x450');"> <!-- BACKGROUND IMAGE ADDED VIA SITECORE  -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero_content">

    				Hero content

					<!-- UP TO THREE BUTTONS AVALIBLE BUT ONLY VISIBLE IN MARKUP IF THEY HAVE CONTENT ADDED -->
					<div class="button">
					    <a href="#">CTA Button</a>
					</div>
					<div class="button">
					    <a href="#">CTA Button</a>
					</div>
					<div class="button">
					    <a href="#">CTA Button</a>
					</div>

    			</div>
    		</div>
    	</div>
	</div>
</div>
<!-- HERO COMPONENT END -->