@import "variables_core"; // import core (global) variables
@import "variables_brand"; // import brand specific variables
@import "mixins";
@import "font-awesome"; // _font-awesome.scss

body{
	color: $main_colour;
}

#pageBody{}

header{
	padding: $header_padding;
	background: $header_background_colour;
	.col-md-6{
		&.affix{
			@include animate (slideInDown);
			background: $sticky_header_background_colour;
			box-shadow: $sticky_header_shadow;
		}
	}
}

.section{
	padding: $section_padding;
	&.one{
		background: $section_one_background_colour;
	}
	&.two{
		background: $section_two_background_colour;
	}
	&.three{
		background: $section_three_background_colour;
	}
}

footer{
	padding: $footer_padding;
	background: $footer_background_colour;
}

@import "family"; 					// _family.scss
@import "animate"; 					// _animate.scss
@import "components"; 				// Website Components
@import "mediaqueries"; 			// Media queries