/* ACCORDION COMPONENT */
.accordion{
    @include component_margin;
    .panel-group{
        margin-bottom: 0;
        .panel{
            box-shadow: none;
            h1, h2, h3, h4, h5, h6{
                font-size: $component_title_size;
                text-align: $accordion_title_text_align;
                margin: 0 0 10px 0;
            }
            .panel-heading{
                padding: 0;
                border: none;
                border-radius: $accordion_border_radius;
                #{$accordion_border_direction}: $accordion_border_width solid $accordion_border_colour;
                .panel-title{
                    h1, h2, h3, h4, h5, h6{
                        margin: 0;
                        text-align: left;
                        font-size: $accordion_text_and_icon_size;
                        line-height: $h4_line_height;
                        a{
                            display: block;
                            padding: $accordion_padding;
                            padding-right: 40px;
                            position: relative;
                            color: $accordion_text_colour_open;
                            background: $accordion_background_colour_open;
                            &:hover, &:active, &:focus{
                                text-decoration: none;
                            }
                            &:active, &:focus{
                                outline: 0;
                            }
                            &:after{
                                @include fa-icon;
                                content: "\f068"; // Font Awesome close icon http://fontawesome.io/cheatsheet/
                                position: absolute;
                                top: 50%;
                                right: 15px;
                                transform: translateY(-50%);
                                color: $accordion_icon_colour_open;
                            }
                            &.collapsed{
                                background: $accordion_background_colour;
                                color: $accordion_text_colour;
                                &:after{
                                    content: "\f067"; // Font Awesome open icon http://fontawesome.io/cheatsheet/
                                    color: $accordion_icon_colour;
                                }
                            }
                        }
                    }
                }
            }
            .panel-body{
                border: none;
                padding: $accordion_content_padding;
                border-bottom: $accordion_border_width solid $accordion_border_colour;
                background: $accordion_content_background;
                @include content_text_styles;
                h1, h2, h3, h4, h5, h6{
                    text-align: left;
                }
            }
        }
    }
}

@media (min-width: $screen-lg-min){
}

@media (max-width: $screen-md-max){
}

@media (max-width: $screen-sm-max){
}

@media (max-width: $screen-xs-max){
}