/* BUTTON GROUP COMPONENT */
.button-group{
	margin: $button_group_margin;
	text-align: $button_group_float;
	ul{
		margin: 0;
		padding: 0;
		li{
			display: inline-block;
			margin: 0 5px;
			a{
				display: block;
				@include secondary_cta;
			}
			&:last-child{
				a{
					@include primary_cta;
				}
			}
		}
	}
	.affix &{
		text-align: center;
		margin: 10px 0;
	}
}

@media (min-width: $screen-lg-min){
}

@media (max-width: $screen-md-max){
}

@media (max-width: $screen-sm-max){
	.button-group{
		text-align: center;
	}
}

@media (max-width: $screen-xs-max){
}