/* CAROUSEL COMPONENT */
.carousel{
	@include component_margin;
	.carousel-indicators{
		bottom: auto;
		top: 72%;
		li{
			width: 25px;
			height: 25px;
			border-radius: 50px;
			margin: $carousel_indicators_border_width;
			background: $carousel_indicators_colour;
			border-width: $carousel_indicators_border_width;
			border-color: $carousel_indicators_border_colour;
			&.active{
				margin: $carousel_indicators_border_width;
				background: $carousel_indicators_colour_active;
				border-color: $carousel_indicators_border_colour_active;
			}
		}
	}
	.carousel-inner{
		.item{
			&.active{}
			.carousel-caption{
				position: relative;
				bottom: auto;
				left: auto;
				right: auto;
				padding: 20px;
				background: $carousel_caption_background_colour;
				font-size: $carousel_text_size;
				color: $carousel_text_colour;
			}
		}
	}
	.carousel-control{
		display: none;
	}
}

@media (min-width: $screen-lg-min){
}

@media (max-width: $screen-md-max){
}

@media (max-width: $screen-sm-max){
	.carousel{
		@include component_margin;
		.carousel-indicators{
			display: none;
		}
		.carousel-control{
			display: block;
			opacity: 1;
			background: none;
			&:after{
				@include fa-icon;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				text-shadow: none;
			}
			&.left{
				&:after{
					content: "\f053";
					left: 15px;
				}
			}
			&.right{
				&:after{
					content: "\f054";
					right: 15px;
				}
			}
		}
	}
}

@media (max-width: $screen-xs-max){
}