/* COOKIE BAR COMPONENT */
.cookie-bar{
    margin-left: auto;
    margin-right: auto;
    //width: 1170px;
	padding: 20px 15px;

	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background: #fff;
	box-shadow: $sticky_header_shadow;
	&:after{
		clear: both;
	}
	&:before, &:after{
		box-sizing: border-box;
		content: " ";
		display: table;
	}
	.cookie-inner{ // row
		margin-left: -15px;
		margin-right: -15px;
		&:after{
			clear: both;
		}
		&:before, &:after{
			box-sizing: border-box;
			content: " ";
			display: table;
		}
		.col-a, .col-b{
		    min-height: 1px;
		    padding-left: 15px;
		    padding-right: 15px;
		    position: relative;
		}
		.col-a{ // col-md-10
			width: 83.3333%;
			float: left;
			strong{}
			a.cookie{
				color: $a_colour;
				text-decoration: underline;
				//display: block;
				&:hover, &:active, &:focus{
					color: $a_colour_hover;
				}
			}
		}
		.col-b{ //col-md-2
			width: 16.6667%;
			float: left;
			text-align: right;
			a.cookie-btn{
				@include secondary_cta;
				padding: 5px 10px;
				text-align: center;
				font-size: 12px;
			}
		}
	}
}

@media (min-width: $screen-lg-min){
}

@media (max-width: $screen-md-max){
	.cookie-bar{
	    //width: 970px;
	}
}

@media (max-width: $screen-sm-max){
	.cookie-bar{
	    //width: 750px;
	    text-align: center;
	    font-size: 10px;
		padding: 10px 15px;
		.cookie-inner{
			.col-a, .col-b{
				float: none;
				width: 100%;
				text-align: center;
			}
			.col-a{
				a.cookie{
					display: inline-block;
				}
			}
			.col-b{ //col-md-2
				a.cookie-btn{
					margin-top: 10px;
					font-size: 10px;
				}
			}
		}	    
	}
}

@media (max-width: $screen-xs-max){
	.cookie-bar{
	    width: 100%;
	}
}