/* ENQUIRY & BROCHURE DOWNLOAD FORM COMPONENTS */
.form{
	@include component_margin;
	.form-summary{}
	#form-loading{
		border: 1px solid $main_colour;
		margin: 10px 0;
		padding: 15px 50px;
		p{
			color: $form_colour;
			text-align: center;
		}
		.progress{
			margin: 0;
			.progress-bar-striped{
				background-image: linear-gradient(45deg, darken($form_colour, 10%) 25%, transparent 25%, transparent 50%, darken($form_colour, 10%) 50%, darken($form_colour, 10%) 75%, transparent 75%, transparent);
				width: 100%;
			    &.progress-bar{
				    animation: load 3.5s, 2s linear 0s normal none infinite running progress-bar-stripes;
					@keyframes load {
					    0%   {width: 0%;}
					    100% {width: 100%;}
					}
			    }
			}
			.progress-bar{
				background-color: $form_colour;
			}
		}
	}
	fieldset{
		#notificationArea{ // VALADATION MESSAGE STYLES
			.alert-error{
				margin: 0 0 30px 0;
				padding: 15px;
				border: 1px solid red;
				border-radius: 0;
				color: red;
				font-size: 16px;
				text-align: center;
				&:before{
					@include fa-icon;
					content: '\f071';
					display: block;
					font-size: 30px;
					margin-bottom: 10px;
				}

			}
		}
		.form-group{
			&.has-error{ // VALADATION MESSAGE STYLES
				label{
					color: red;
				}
				.form-control{
					border-color: red;
				}
				.help-block{
					color: red;
					margin-bottom: 0;
				}
			}
			.control-label{
				text-align: left;
				font-size: 14px !important;
			}
			sup{
				&.required{
					color: red;
				}
			}
			.form-control, .controls{ //(select & input)
				font-size: 14px !important;
				&:focus{
					border-color: $main_colour;
					box-shadow: none;
				}
				&.invalid{
					border-color: red;
				}
				&.date-picker{
					width: 100% !important;
				}
				.help-inline, .validation-msg{ // brochure download from validation message
					color: red;
					padding-top: 7px;
					display: block;
				}
			}
			.radio{
				label.radio{
					display: inline-block;
					margin-right: 20px;
					input{}
				}
			}
			.checkbox{
				label.subscribe{
					font-size: 14px !important;
				}
			}
			p.text-info{
				small{
					color: $main_colour;
					strong{}
				}
			}
			// Phone field spacing and validation styles
			.help-inline{
				color: red;
			}
		}
		button{
			@include form_cta;
		}
	}
	#download-links, .brochure-link-fields{ // brochure download item styles
		.form-group{
			.brochure-link{ // brochure download page
				.brochure-link{
					width: 33.33%;
					div{
						h1, h2, h3, h4, h5, h6{
							font-size: 18px;
							margin: 10px 0 5px;
						}
					}
				}
			}
		}
	}
}

// Phone field spacing and validation styles
.telephone_small{
    display: inline-block;
    input{
    	width: 40px;
    }
}
.telephone_large{
    display: inline-block;
    input{
    	width: auto;
    }
}

























//
// Datepicker
// --------------------------------------------------
label[for="date_picker"]{ // datapicker icon
    span{
        cursor: pointer;
        color: $form_colour;
    }
}
// NON JQUERY UI DATEPICKER - BELLERBYS APP & ENQUIRY FORM FOR EXAMPLE
.datepicker{
    min-width: 240px;
    display: none;
    .datepicker-days,
    .datepicker-months,
    .datepicker-years{
        padding: 5px 5px 0 5px;
        .table-condensed{ //table
            width: 100%;
            thead{
                tr{
                    &:first-child{
                        th{
                            padding-bottom: 5px;
                        }
                    }
                    th{
                        &.prev{
                            color: $form_colour;
                            .glyphicon{}
                            &:hover{
                                cursor: pointer;
                            }
                        }
                        &.switch{
                            text-align: center;
                            &:hover{
                                cursor: pointer;
                            }
                        }
                        &.next{
                            color: $form_colour;
                            text-align: right;
                            .glyphicon{}
                            &:hover{
                                cursor: pointer;
                            }
                        }
                        &.dow{
                            background: $form_colour;
                            color: #fff;
                            padding: 3px 5px;
                            text-align: center;
                            border-right: 1px solid #fff;
                            border-bottom: 1px solid #fff;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        &.day{
                            padding: 5px 5px 2px 5px;
                            text-align: center;
                            &.active{
                                background: $form_colour;
                                color: #fff;
                                &:hover{
                                    background: $form_colour;
                                }
                            }
                            &.old{
                                color: lighten($main_colour,50%);
                                pointer-events: none;
                            }
                            &.new{}
                            &:hover{
                                background: $form_colour_s;
                                cursor: pointer;
                            }
                        }
                        span.month,
                        span.year{
                            padding: 5px 5px 2px 5px;
                            display: inline-block;
                            text-align: center;
                            width: 33.33%;
                            text-align: center;
                            &.active{
                                background: $form_colour;
                                color: #fff;
                                &:hover{
                                    background: $form_colour;
                                }
                            }
                            &:hover{
                                background: $form_colour_s;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
    .datepicker-months,       
    .datepicker-years{
        max-width: 240px;
    }
    .datepicker-years{
        .table-condensed{ //table
            thead{
                tr{
                    th{
                        &.switch{
                            pointer-events: none;
                        }
                    }
                }
            }
        }
    }
}





































@media (min-width: $screen-lg-min){
}

@media (max-width: $screen-md-max){
}

@media (max-width: $screen-sm-max){
	.form{
		#download-links, .brochure-link-fields{
			.form-group{
				.brochure-link{ // brochure download page
					.brochure-link{
						width: 50%;
					}
				}
			}
		}
	}
}

@media (max-width: $screen-xs-max){
	.form{
		#download-links, .brochure-link-fields{
			text-align: center;
			.form-group{
				.brochure-link{ // brochure download page
					float: none;
					.brochure-link{
						width: 100%;
					}
				}
			}
		}
	}
}