/* GALLERY COMPONENT */
.gallery{
	@include component_margin;
	//padding: 0 15px;
	.col-md-6, .col-sm-6, .col-xs-6{
		padding: 0;
	}
	h1, h2, h3, h4, h5, h6{
	}


	.row{
		&:after{
			clear: none !important;
		}
		.col-md-6, .col-sm-6, .col-xs-6{
			width: 33.33%;
			padding: 15px;
			a{
				position: relative;
				display: block;
				overflow: hidden;
				img{
					width: 100%;
					height: auto;
					&:hover{}
				}
				&:after{
					@include fa-icon;
					content: "\f00e";
					position: absolute;
					z-index: 0;
					color: #fff;
					display: block;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					text-align: center;
					padding-top: 35%;
  					@include app-transition(all, .4s, ease);
					background: rgba(0, 0, 0, 0.2);
					font-size: 30px;
					line-height: 0;
					pointer-events: none;
				}
				&:hover{
					&:after{
						background: rgba(0, 0, 0, 0.1);
					}
				}
			}
		}
	}
	.col-md-6 &, .col-md-5 &, .col-md-4 &, .col-md-3 &, .col-md-2 &{
		padding: 0 8px;
		@include component_margin;
		.row{
			&:after{
				clear: both !important;
			}
			.col-md-6, .col-sm-6, .col-xs-6{
				width: 50%;
				padding: 7px;
			}
		}
	}




	/* GALLERY LIGHTBOX */
	.modal{
		margin-top: 5vh;
		.modal-dialog{
			.modal-content{
				.modal-header{
					min-height: 50px;
				}
				.modal-body{
					/* GALLERY CAROUSEL COMPONENT */
					.carousel{
						.carousel-inner{
							.item{
								img{
									margin: 0 auto;
								}
								&.active{}
								.carousel-caption{
									left: 25%;
									right: 25%;
									h1, h2, h3, h4, h5, h6{
										margin: 0;
									}
									p{
									}
								}
							}
						}
						.carousel-control{
							background: none;
							opacity: 1;
							top: 50%;
							transform: translateY(-50%);
							i{
								font-size: 60px;
								text-shadow: none;
								color: $main_colour;
								position: relative;
								top: 50%;
								transform: translateY(-50%);
								@include app-transition(all, .4s, ease);
							}
							&:hover{
								i{
									color: $a_colour;
								}
							}
						}
					}
				}
			}
		}
	}



}

@media (min-width: $screen-lg-min){
}

@media (max-width: $screen-md-max){
}

@media (max-width: $screen-sm-max){
	.gallery{
		/* GALLERY LIGHTBOX */
		.modal{
			margin-top: 3vh;
			.modal-dialog{
				.modal-content{
					.modal-body{
						/* GALLERY CAROUSEL COMPONENT */
						overflow: visible;
						.carousel{
							.carousel-inner{
								.item{
									.carousel-caption{
										position: relative;
										left: auto;
										right: auto;
										color: $main_colour;
										text-shadow: none;
										margin: 15px 20% 0 20%;
									}
								}
							}
							.carousel-control{
								top: auto;
								bottom: 0;
							}
						}
					}
				}
			}
		}
	}	
}

@media (max-width: $screen-xs-max){
	.gallery{
		padding: 0 8px;
		.row{
			.col-md-6, .col-sm-6, .col-xs-6{
				width: 50%;
				padding: 7px;
			}
		}
	}
}