/* HERO COMPONENT */
.hero{ // BACKGROUND IMAGE GET ADDED TO '.hero' DIV VIA SITECORE
	@include component_margin;
	height: 450px;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	position: relative;
	.container{
		position: absolute;
		bottom: 30px;
		left: 0;
		right: 0;
	}
	.hero_content{
		text-align: center;

		.button{
			display: inline-block;
			a{
				@include secondary_cta;
			}
		}
	}
}

@media (min-width: $screen-lg-min){
}

@media (max-width: $screen-md-max){
}

@media (max-width: $screen-sm-max){
}

@media (max-width: $screen-xs-max){
}