/* HERO COMPONENT */
.hero{ // BACKGROUND IMAGE GET ADDED TO '.hero' DIV VIA SITECORE
	.section &{
		@include component_margin;
	}
	height: $hero_height;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $hero_overlay;
		z-index: 0;
	}
	.container{
		position: absolute;
		bottom: $hero_content_bottom;
		left: 0;
		right: 0;
		z-index: 1;
	}
	.hero_content{
		@include content_text_styles;
		background: $hero_content_background;
		padding: $hero_content_padding;
		h1, h2, h3, h4, h5, h6, p{
			text-align: $hero_text_align;
			color: $hero_text_colour;
			margin: 0 0 20px 0;
		}
		h1, h2, h3, h4, h5, h6{
			line-height: 1.1;			
		}
		p{
			line-height: 1.42857;
		}
		.button{
			display: block;
			text-align: $hero_text_align;
			a{
				@include secondary_cta;
				background: $hero_cta_background_colour;
				color: $hero_cta_text_colour;
				border-width: $hero_cta_border_width;
				border-color: $hero_cta_border_colour;
				border-radius: $hero_cta_border_radius;
				&:hover, &:active, &:focus{
					background: $hero_cta_background_colour_hover;
					color: $hero_cta_text_colour_hover;
					border-color: $hero_cta_border_colour_hover;
				}
			}
		}
	}
}

@media (min-width: $screen-lg-min){
}

@media (max-width: $screen-md-max){
}

@media (max-width: $screen-sm-max){
	.hero{
		max-width: 1600px;
		margin: 0 auto;
		min-height: auto;
		height: auto;
		background-size: 170%;
		background-color: $hero_content_background_mobile;
		&:after{
			display: none;
		}
		.image_size_placeholder{
			background: $hero_overlay;
			padding: 48% 0 0;
			height: 0;
		}
		.container{
			position: relative;
			left: 0;
			right: 0;
			bottom: auto;
		}
		.hero_content{
			padding: (nth($component_margin, 3) / 1.5);
			h1, h2, h3, h4, h5, h6, p{
				color: $hero_text_colour_mobile;
			}
			.button{
				a{
					background: $hero_cta_background_colour_mobile;
					color: $hero_cta_text_colour_mobile;
					border-color: $hero_cta_border_colour_mobile;
					&:hover, &:active, &:focus{
						background: $hero_cta_background_colour_mobile_hover;
						color: $hero_cta_text_colour_mobile_hover;
						border-color: $hero_cta_border_colour_mobile_hover;
					}
				}
			}
		}
	}
}

@media (max-width: $screen-xs-max){
}