/* LANGUAGE LINKS COMPONENT */
.language_links_v2{ //ul
	@include component_margin;
	padding: 0 10px 0 0;
	text-align: $language_select_float;
	li{ //.dropdown
		list-style-type: none;
		a{
			img{
				height: 18px;
			    margin-right: 5px;
				padding: 0;
			}
			.caret{
				margin-left: 5px;
			}
			&:hover, &:active, &:focus{
				text-decoration: none;
			}
		}
		ul{ //.dropdown-menu
			display: none;
			left: auto;
			right: 0;
		}
	}
}

@media (min-width: $screen-lg-min){
}

@media (max-width: $screen-md-max){
}

@media (max-width: $screen-sm-max){
	.language_links_v2{ //ul
		position: absolute;
		top: 0;
		right: 0;
	}
}

@media (max-width: $screen-xs-max){
}