/* SOCIAL MEDIA COMPONENT */
.social_media_wrapper{
	h1, h2, h3, h4, h5, h6, p{
		font-size: $social_media_title_size;
		color: $social_media_title_colour;
		margin: 0 0 5px 0;
		font-weight: 600;
	}
	.social_media{ //UL
		margin: 0;
		padding: 0;
		li{
			display: inline-block;
			margin: 0;
			margin-right: $space_between_icons;
			a{
				font-size: $icon_size;
				color: $icon_colour;
				&:hover, &:active, &:focus{
					outline: 0;
					color: $icon_colour_hover;
					opacity: $icon_opacity_hover;
				}
			}
		}
	}
}

@media (min-width: $screen-lg-min){
}

@media (max-width: $screen-md-max){
}

@media (max-width: $screen-sm-max){
}

@media (max-width: $screen-xs-max){
}