/* TESTIMONIAL COMPONENT */
.testimonial{
	@include component_margin;
	background: $testimonial_background;
	padding: $testimonial_padding;
	text-align: $testimonial_text_align;
	h1, h2, h3, h4, h5, h6{
		&:first-child{
			margin: 0 0 10px 0;
			font-size: $component_title_size;
		}
	}
	img{
		width: 100%;
		height: auto;
		margin: $testimonial_image_margin;
	}
	.testimonial_content{
		color: $testimonial_text_colour;
		font-size: $testimonial_text_size;
		line-height: $testimonial_text_light_height;
	}
	.testimonial_info{
		@include content_text_styles;
	}
	.col-md-12 &{
		text-align: left;
		img{
			width: 300px;
			height: auto;
			float: left;
			margin: 0 30px 0 0;
		}
	}
}

@media (min-width: $screen-lg-min){
}

@media (max-width: $screen-md-max){
}

@media (max-width: $screen-sm-max){

	.testimonial{
		.col-md-12 &{
			text-align: $testimonial_text_align;
			img{
				width: 100%;
				float: none;
				margin: $testimonial_image_margin;
			}
		}
	}




}

@media (max-width: $screen-xs-max){
}