/* TESTIMONIAL COMPONENT */
.testimonial{
	@include component_margin;
	h1, h2, h3, h4, h5, h6{
		&:first-child{}
	}
	img{
		width: 100%;
		height: auto;
	}
	.testimonial_content{
		p{}
	}
	.testimonial_info{
		p{
			em{}
		}
	}
	.col-md-12 &{
		img{
			width: 300px;
			height: auto;
			float: left;
			margin: 0 30px 0 0;
		}
	}
}

@media (min-width: $screen-lg-min){
}

@media (max-width: $screen-md-max){
}

@media (max-width: $screen-sm-max){
}

@media (max-width: $screen-xs-max){
}