{% include "components/cookie_bar" %}
<!-- HEADER COMPONENT START -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% include "components/logo" %}
            </div>
            <div class="col-md-6">
                {% include "components/language_select_v2" %}
                {% include "components/button_group" %}
            </div>
    	</div>
    </div>
</header>
<!-- HEADER COMPONENT END -->