/* GALLERY COMPONENT */
.gallery{
	h1, h2, h3, h4, h5, h6{
		margin-top: 0;
		margin-left: 0;
	}
	.row{
		&:after{
			clear: none !important;
		}
		.col-md-6, .col-sm-6, .col-xs-6{
			width: 33.33%;
			a{
				position: relative;
				display: block;
				overflow: hidden;
				img{
					width: 100%;
					height: auto;
				}
				&:after{
					@include fa-icon;
					content: "\f00e";
					position: absolute;
					z-index: 0;
					display: block;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					text-align: center;
					padding-top: 35%;
					font-size: 30px;
					line-height: 0;
					pointer-events: none;
				}
			}
		}
	}
	.col-md-6 &, .col-md-5 &, .col-md-4 &, .col-md-3 &, .col-md-2 &{
		.row{
			&:after{
				clear: both !important;
			}
			.col-md-6, .col-sm-6, .col-xs-6{
				width: 50%;
			}
		}
	}
	/* GALLERY LIGHTBOX */
	.modal{
		margin-top: 5vh;
		.modal-dialog{
			.modal-content{
				.modal-header{
					min-height: 50px;
				}
				.modal-body{
					/* GALLERY CAROUSEL COMPONENT */
					overflow: visible;
					.carousel{
						.carousel-inner{
							.item{
								img{
									margin: 0 auto;
									margin-bottom: 20px;
								}
								.carousel-caption{
									position: relative;
									text-shadow: none;
									background: none;
									bottom: 20px;
									left: 25%;
									right: 25%;
									text-align: center;
									top: auto;
									h1, h2, h3, h4, h5, h6{
										margin: 0;
									}
								}
							}
						}
						.controls{
							.carousel-control{
								display: inline-block;
								background: none;
								opacity: 1;
								top: -65px;
								width: auto;
								i{
									font-size: 60px;
									text-shadow: none;
								}
								&.right{
									right: auto;
									left: 50px;
								}
								&:after{
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: $screen-lg-min){
}

@media (max-width: $screen-md-max){
}

@media (max-width: $screen-sm-max){
	.gallery{
		/* GALLERY LIGHTBOX */
		.modal{
			margin-top: 3vh;
			.modal-dialog{
				.modal-content{
					.modal-body{
						/* GALLERY CAROUSEL COMPONENT */
						.carousel{
							.carousel-inner{
								.item{
									.carousel-caption{
										left: auto;
										right: auto;
										margin: 25px auto 0;
										width: 100%;
									}
								}
							}
						}
					}
				}
			}
		}
	}	
}

@media (max-width: $screen-xs-max){
	.gallery{
		padding: 0 8px;
		.row{
			.col-md-6, .col-sm-6, .col-xs-6{
				width: 50%;
				padding: 7px;
			}
		}
	}
}