/* LANGUAGE LINKS COMPONENT */
.language_links_v2{ //ul
	padding: 0 15px 0 0;
	text-align: right;
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 1170px;
	li{ //.dropdown
		list-style-type: none;
		a{
			img{
				height: 15px;
			    margin-right: 5px;
				padding: 0;
			}
			.caret{
				margin-left: 5px;
			}
			&:hover, &:active, &:focus{
				text-decoration: none;
			}
		}
		ul{ //.dropdown-menu
			display: none;
			left: auto;
			right: 0;
			li{
				a{
					padding: 3px 10px;
				}
			}
		}
	}
}

@media (min-width: $screen-lg-min){
}

@media (max-width: $screen-md-max){
	.language_links_v2{ //ul
		width: 970px;
	}
}

@media (max-width: $screen-sm-max){
	.language_links_v2{ //ul
		width: 750px;
		top: -50px;
	}
}

@media (max-width: $screen-xs-max){
	.language_links_v2{ //ul

		width: 100%;
		padding: 0;
		li{ //.dropdown
			font-size: 13px;
			a{
				img{
					height: 13px;
				}
			}
			ul{ //.dropdown-menu
				li{
					a{
						font-size: 13px;
					}
				}
			}
		}
	}
}