            <script src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
            <script src="js/glp_global.js"></script>
            <script src="js/glp_brandname.js"></script>
        </div> <!-- #pageBody close -->
    </body>
</html>