{% include "layout/head" %}
{% comment %} // DO NOT ADD CODE ABOVE THIS LINE // {% endcomment %}



<div class="section one">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% include 'components/widget'%}
                    {% assign className = 'pullout' %}
                    {% assign title = 'Widget' %}
                    {% assign image_size = '720x400' %}
                    {% assign content = '<p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>' %}
                    {% assign button = 'Apply now' %}

                {% include 'components/widget'%}
                    {% assign className = 'pullout' %}
                    {% assign title = 'Widget' %}
                    {% assign image_size = '720x400' %}
                    {% assign content = '<p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>' %}
                    {% assign button = 'Apply now' %}

            </div>
            <div class="col-md-4">
                {% include 'components/widget'%}
                    {% assign className = '' %}
                    {% assign title = 'Widget' %}
                    {% assign image_size = '720x400' %}
                    {% assign content = '<p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>' %}
                    {% assign button = 'Apply now' %}
            </div>
            <div class="col-md-4">
                {% include 'components/widget'%}
                    {% assign className = '' %}
                    {% assign title = 'Widget' %}
                    {% assign image_size = '720x400' %}
                    {% assign content = '<p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>' %}
                    {% assign button = 'Apply now' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                {% include 'components/widget'%}
                    {% assign className = '' %}
                    {% assign title = 'Widget' %}
                    {% assign image_size = '720x400' %}
                    {% assign content = '<p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>' %}
                    {% assign button = 'Apply now' %}


            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

                {% include 'components/widget'%}
                    {% assign className = '' %}
                    {% assign title = 'Widget' %}
                    {% assign image_size = '720x400' %}
                    {% assign content = '<p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>' %}
                    {% assign button = 'Apply now' %}


            </div>
            <div class="col-md-6">

                {% include 'components/widget'%}
                    {% assign className = '' %}
                    {% assign title = 'Widget' %}
                    {% assign image_size = '720x400' %}
                    {% assign content = '<p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>' %}
                    {% assign button = 'Apply now' %}

                {% include 'components/widget'%}
                    {% assign className = '' %}
                    {% assign title = 'Widget' %}
                    {% assign image_size = '720x400' %}
                    {% assign content = '<p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>' %}
                    {% assign button = 'Apply now' %}

            </div>
        </div>


        <div class="row">
            <div class="col-md-3">
                {% include 'components/widget'%}
                    {% assign className = 'pullout' %}
                    {% assign title = 'This is a pullout widget' %}
                    {% assign image_size = '' %}
                    {% assign content = '<p>lorem ipsum dolor sit amet consectetur adipisicing do eiusmod tempor.</p>' %}
                    {% assign button = 'Find out more' %}
            </div>
            <div class="col-md-3">
                {% include 'components/widget'%}
                    {% assign className = 'pullout option2' %}
                    {% assign title = 'This is a pullout widget' %}
                    {% assign image_size = '' %}
                    {% assign content = '<p>lorem ipsum dolor sit amet consectetur adipisicing do eiusmod tempor.</p><p>lorem ipsum dolor sit amet consectetur adipisicing do eiusmod tempor.</p><p>lorem ipsum dolor sit amet consectetur adipisicing do eiusmod tempor.</p>' %}
                    {% assign button = 'Find out more' %}
            </div>
            <div class="col-md-3">
                {% include 'components/widget'%}
                    {% assign className = 'pullout option3' %}
                    {% assign title = 'This is a pullout widget' %}
                    {% assign image_size = '' %}
                    {% assign content = '<p>lorem ipsum dolor sit amet consectetur adipisicing do eiusmod tempor.</p><p>lorem ipsum dolor sit amet consectetur adipisicing do eiusmod tempor.</p>' %}
                    {% assign button = 'Find out more' %}
            </div>
            <div class="col-md-3">
                {% include 'components/widget'%}
                    {% assign className = 'pullout option3' %}
                    {% assign title = 'This is a pullout widget' %}
                    {% assign image_size = '' %}
                    {% assign content = '<p>lorem ipsum dolor sit amet consectetur adipisicing do eiusmod tempor.</p><p>lorem ipsum dolor sit amet consectetur adipisicing do eiusmod tempor.</p>' %}
                    {% assign button = 'Find out more' %}
            </div>

        </div>


    </div> <!-- /container -->
</div> <!-- /section_two close -->






{% comment %} // DO NOT ADD CODE BELOW THIS LINE // {% endcomment %}
{% include "layout/foot" %}